.head{
    margin: 0px;
}
.image{
    width: 150px;
    height: 150px;
}
.post-container{
    width: 150px;
    margin-left: 45px;
    float: left;
    position:relative;
    top: 55px;
    border-radius: 5px;
    height: 230px;
    border: 1px solid black
}
/* form{
    width: 85px;
    float: left;
} */
.form1{
    width: 85px;
    float: left;
    display: inline;
}
.form2{
    width:50px;
    float: left;
}
.imagetext-container{
    /* margin-top: -50px; */
}
.image-container{
    float: left;
}

/* product detail container */

.prode-image{
    width: 300px;
    height: 300px;
}
/* heading 1*/
.heading1{
    margin: 0px;
}
.post-detail{
    width: 350px;
    height: 400px;
    border: 1px solid goldenrod;
    margin-left: 39%;
    border-radius: 5px;
}
.image-detail{
    width: 300px;
    height: 300px;
}
.detail-text{
    font-size: 20px;
}
.post-heading{
    font-size: 20px;
    text-transform: capitalize;
    margin-left: 15px;
}
.pagination{
    position: relative;
    top: 70px;
    margin-left: 38%;
    width: 200px;
    height: 50px;
}
.pagination a{
    margin-left: 4px;
    text-decoration: none;
}
.pagination a.active{
    color: tomato;
}